
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Capricorn（仮）</h1>
            <h3>トイレに入ったら紙がない！　とならないために</h3>
            <br>
            <a href="#action" class="btn btn-dark btn-lg">使ってみる</a>
            <a href="#about" class="btn btn-dark btn-lg">会社概要</a>
        </div>
    </header>

    <!-- Call to Action -->
    <section id="action" class="action">
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>トイレットペーパーはあと何ロールありますか？</h3>
                    <form action="/type/index" accept-charset="UTF-8" method="post">
                    <input type="number" name="stock" value="12" class="btn btn-dark">
                    <input type="submit" value="いつ頃無くなるかな" class="btn btn-dark"></form>
                </div>
            </div>
        </div>
    </aside>
    </section>


    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>こんな経験ありませんか？！</h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/portfolio-1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/portfolio-2.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/portfolio-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/portfolio-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <h3>トイレで用を足した後に紙がない！<br>そんな経験がある方はぜひこのサービスをご利用ください！</h3>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>主要な機能</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil-square-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>買い忘れ防止</strong>
                                </h4>
                                <p>いつ在庫が切れるかが分かります。また、在庫が切れる前にお知らせしてくれます</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>家族構成</strong>
                                </h4>
                                <p>性別や家族構成に応じて日本人の平均的な利用量をベースに、消費量を予測して自動計算します</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>実績把握</strong>
                                </h4>
                                <p>残在庫量だけでなく、過去の消費量や補充の履歴がグラフィカルに確認できます</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>リコメンド</strong>
                                </h4>
                                <p>過去の利用状況や家族構成に応じて、お勧め商品を通知します</p>
                           </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>サービス概要</h2>
                    <p class="lead">このサービスは「日用品の買い忘れ」を解決したい 「一人暮らしの男性向け」の 「買い忘れのリマインドを実現する」プロダクトです。これは、「品物の初期設定だけで 　それがなくなりそうな時にアナウンス」され、 既存の「日用品のリマインダーやお買い物メモ」とは違って、「自動での通知機能と個人への最適化 （ログの蓄積や、商品のリコメンド）」が備わっています。</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8404444733956!2d139.7491068!3d35.6070022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188a75bdbd28f7%3A0x84ee382f1580be53!2z55Sj5qWt5oqA6KGT5aSn5a2m6Zmi5aSn5a2m!5e0!3m2!1sja!2sjp!4v1443440751060"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8404444733956!2d139.7491068!3d35.6070022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188a75bdbd28f7%3A0x84ee382f1580be53!2z55Sj5qWt5oqA6KGT5aSn5a2m6Zmi5aSn5a2m!5e0!3m2!1sja!2sjp!4v1443440751060"></a>
        </small>
        </iframe>
    </section>

