<%= link_to 'トップへ戻る',  root_path %>
<hr>
<div class="container">
  <div class="row mb40">
    <div class="col-md-12">
      <h4>プライバシーポリシー（個人情報保護方針）</h4>
      <p class="mb40 mt20">
      Capricorn（以下「当方」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、個人情報の保護を推進致します。
      </p>
      <h5>個人情報の管理</h5>
      <p class="mb40">
      当方は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
      </p>
      <h5>個人情報の利用目的</h5>
      <p class="mb40">
      当方は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
      お客さまからお預かりした個人情報は、当方からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
      </p>
      <h5>個人情報の第三者への開示・提供の禁止</h5>
      <p class="mb40">
      当方は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
      </p>
      <h5>お客さまの同意がある場合</h5>
      <p class="mb40">
      お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
      法令に基づき開示することが必要である場合
      </p>
      <h5>個人情報の安全対策</h5>
      <p class="mb40">
      当方は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
      </p>
      <h5>ご本人の照会</h5>
      <p class="mb40">
      お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
      </p>
      <h5>法令、規範の遵守と見直し</h5>
      <p class="mb40">
      当方は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます
      </p>
      <h5>お問い合せ</h5>
      <p class="mb20">当方の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
      <p class="mb40"><%= link_to 'お問い合わせフォーム',  top_inquiry_path %></p>
    </div>
  </div>
</div>

  </div>
