 <div class="container">
 <div class="table-responsive">

<h2>結果表示</h2>
<p><b>残ロール数<%= @stock %></b></p>です。
<p>あと<%= @days.floor %>日でなくなります。</p>
<button class="btn btn-default"><a href='#' onClick="history.back(); return false">戻る</a></button>
 </div>
 </div>
