<%- model_class = Stock -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
</div>

<% if user_signed_in? %>
  <%= render :partial => 'form' %>
<% else %>
  <%= render :partial => 'form2' %>
<% end %>


