<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @item %>が無くなりそうです。<br />
    </p>
    <p>
      以下のURLで商品を購入できます。<br />
　　　<%= @url %>
    </p>
  </body>
</html>
