<h3>新しいページの作成</h3>
ユーザ登録せずに利用した場合
<ul>
  <li>・メール通知機能が使えません。</li>
  <li>・過去履歴の閲覧、検索機能が使えません。</li>
  <li>・便利ボタン機能が使えません。</li>
  <li>・オリジナル商品の登録ができません。</li>
  <li>・家族構成が男1人、女1人に固定されます。</li>
</ul>

<%= render 'form' %>
<br>メール通知機能などが使いたい方はこちら<br>
<%= link_to 'ユーザー登録', new_user_registration_path, :class => "btn btn-dark" %>